/* convertkit form newsletter */
.wp-block-cover .formkit-form .formkit-field, .wp-block-cover .formkit-form .formkit-submit {
    flex: 100 1 auto !important;
}
.wp-block-cover .formkit-form .formkit-field {
    margin-bottom: 30px !important;
}
.wp-block-cover .formkit-form .formkit-field input {
    border-radius: 40px !important;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    font-size: var(--wp--preset--font--size--large);
    letter-spacing: 2px;
}
.wp-block-cover .formkit-form .formkit-submit {
    padding: 10px !important;
    font-size: 21px !important;
    margin-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 120px;
}
.wp-block-cover .formkit-form .formkit-powered-by-convertkit-container {
    display: none !important;
}

.wp-block-cover .formkit-form .formkit-fields {
    flex-flow: column;
}

@media (min-width: 1200px) {

    .wp-block-cover.is-style-promo .formkit-form .formkit-fields {
        flex-flow: row;
    }
    .wp-block-cover.is-style-promo .formkit-form .formkit-submit {
        margin-left: -30px !important;
    }
    .wp-block-cover.is-style-promo .formkit-form .formkit-field {
        width: 70%;
        margin-bottom: 0 !important;
    }

}

/* Styles */

.is-style-promo {
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
    padding-top: 0px;
    padding-bottom: 80px;
    color: #F5F6F5
}
.is-style-promo::before {
    position: absolute;
    bottom: -75%;
    content: "";
    display: block;
    height: 100%;
    z-index: 2;
    min-height: auto;
    width: 100%;
    background: var(--wp--preset--gradient--gold);
    clip-path: polygon(0 22%, 100% 0, 100% 100%, 0% 100%);
}

.is-style-promo-2 {
    padding-top: 0px;
    padding-top: 0px;
    color: #F5F6F5
}

.wp-block-cover.is-style-promo-2 .formkit-form .formkit-field {
    margin-bottom: 20px !important;
}

.wp-block-cover.is-style-promo-2 .formkit-form .formkit-field input {
    font-size: 30px;
    height: 70px;
}

.wp-block-cover.is-style-promo-2 .formkit-form .formkit-submit {
    background-image: url(../images/purple-btn.webp);
    background-color: transparent !important;
    background-size: 100% 100%;
    border-radius: 0 !important;
    width: 300px;
    padding: 8px !important;
}
.wp-block-cover.is-style-promo-2 .formkit-form .formkit-submit > span {
    color: transparent;
    line-height: 0;
}
.wp-block-cover.is-style-promo-2 .formkit-form .formkit-submit > span::after {
    content: "SIGN ME UP!";
    display: block;
    color: white;
    line-height: initial;
    letter-spacing: -1px;
}

.is-style-cover-aside.wp-block-cover .formkit-form {
    margin-bottom: 0 !important;
}
.is-style-cover-aside.wp-block-cover .formkit-form .formkit-field {
    margin: 0 -20px !important;
    margin-bottom: 12px !important;
}
.is-style-cover-aside.wp-block-cover .formkit-form .formkit-field input {
    padding: 12px;
    font-size: 15px !important;
}
.is-style-cover-aside.wp-block-cover .formkit-form .formkit-submit {
    padding: 12px 8px !important;
    font-size: 15px !important;
    display: inline-block;
}
.is-style-cover-aside.wp-block-cover .formkit-form .formkit-submit > span {
    color: transparent;
    line-height: 0;
    padding: 0;
}
.is-style-cover-aside.wp-block-cover .formkit-form .formkit-submit > span::after {
    content: "SUBSCRIBE";
    display: block;
    color: white;
    font-weight: bold;
    line-height: initial;
    letter-spacing: -1px;
}